.full-screen-div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	

	.login-container {
		margin-top: 90%;
		width: 100%;
		padding: 0 3rem 0 3rem;
	}

	.btn-login {
		background-color: black;
		color: white;
		border-color: black;
		height: 4.5rem;
		font-size: 17px;
		width: 100%;
	}

	.rounded-input {
		border-radius: 20px;
		-moz-border-radius:20px;
		-webkit-border-radius:20px;
	}
	
	.login-input {
		height: 4.5rem;
	}

	.addon-style {
		padding-left: 20px; 
		background-color: #fff;
	}
}