.full-screen-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.full-screen-div .another-div-for-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/fundoLogin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.88;
}
.full-screen-div .prime-logo {
  position: absolute;
  width: 100%;
  height: 12rem;
  margin-top: 25vh;
  background-size: 300px auto;
  background-image: url(../images/prime_logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.full-screen-div .login-container {
  margin-top: 90%;
  width: 100%;
  padding: 0 3rem 0 3rem;
}
.full-screen-div .btn-login {
  background-color: black;
  color: white;
  border-color: black;
  height: 4.5rem;
  font-size: 17px;
  width: 100%;
}
.full-screen-div .rounded-input {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.full-screen-div .login-input {
  height: 4.5rem;
}
.full-screen-div .addon-style {
  padding-left: 20px;
  background-color: #fff;
}
