.cadastrarAnuncio {
	.form-control, .react-toggle {
		margin-top: 7px;
	}


	.toggle-group {
		margin-top: 7px;
		.label-default {
			background-color: transparent;
			span {
				margin-left: 10px;
			}
		}

		.react-toggle--checked {
			.react-toggle-track {
		  		background-color: #d90101;
			}
		}

		.react-toggle--focus:not(.react-toggle--checked) {
			.react-toggle-track {
				background-color: #4d4d4d;
			} 
		}
		.react-toggle--focus {
			.react-toggle-thumb {
				box-shadow: none;
				-webkit-box-shadow: none;
			}
		}
	}

	.container.main-content {
		padding: 0 4rem 0 4rem;
		h3, span {
			color: white;
		}


		.no-padding {
			padding: 0;

			&.first-child {
				padding-right: 5px;
			}
		} 

		.checkbox-group {
			margin-top: 7px;

			.row {
				background-color: #fff;
			}
			.checkboxes {
				padding-left: 15px;
				padding-right: 15px; 
			}

			span {
				font-size: 13px;
				color: #323237;
			}

			.checkbox {
				label {
					padding-left: 0px;
					

					input[type=checkbox] {
						position:absolute; 
						z-index:-1000; 
						left:-1000px; 
						overflow: hidden; 
						clip: rect(0 0 0 0); 
						height:1px; 
						width:1px;
						margin:-1px; 
						padding:0; 
						border:0;
					}

					input[type=checkbox] + span {
						padding-left:23px;
						height:18px; 
						display:inline-block;
						background-repeat:no-repeat;
						background-position: 0 0;
						vertical-align:middle;
						cursor:pointer;

					}

					input[type=checkbox]:checked + span {
						background-position: 0 -18px;
					}
					
					span {
						background-image:url(../../images/checkbox_red.png);
						-webkit-touch-callout: none;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}
				}
			}

		}

		textarea.form-control{
			height: 100px;
			resize: none;
		}
	}

	.panel-group {
		.panel-heading {
			background-color: #2b2b2f;

			a {
			}

			label::after {
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 3em;
				height: 3em;
				line-height: 3;
				text-align: center;
				-webkit-transition: all .35s;
				-o-transition: all .35s;
				transition: all .35s;
			}
		}

		.panel.panel-default {
			border-color: #323237;
			margin-left: -5px;
			border-top: none;
		}

		.panel-title a {
			padding-left: 4rem !important;
			padding-right: 4rem !important;
			color: #fff;
		    display: block;
		    padding: 10px 15px;
		    margin: -10px -15px;
		    text-decoration: none;
		}

		.panel-title a.collapsed:before {
		    content: "+";
		    margin-right: 10px;
		    font-size: 20px;
		}

		.panel-title a:not(.collapsed):before {
			content: "-";
		    margin-right: 15px;
		    font-size: 20px;
		}

		.panel-title a:not(.collapsed) {
			background-color: #d90101;
		}
		

		.panel-body {
			background-color: #e5e5e5;
			border-top: none;
			padding-left: 4rem;
			padding-right: 4rem;

			.eu-sou-label {
				padding: 10px 5px 0px 0px;
			}

			.third-checkbox {
				margin-left: 10px;
			}

			.label-checkbox.label-default {
				background-color: transparent;

				span {
					color: #333;
					font-weight: 500;
					margin-left: 5px;
				}
			}
		}
	}

	.panel-group .panel+.panel {
		margin-top: 0px;
	}
}