.cadastrarAnuncio .container.main-content {
  padding: 0 4rem 0 4rem;
}
.cadastrarAnuncio .container.main-content h3,
.cadastrarAnuncio .container.main-content span {
  color: white;
}
.cadastrarAnuncio .container.main-content .form-control,
.cadastrarAnuncio .container.main-content .react-toggle {
  margin-top: 7px;
}
.cadastrarAnuncio .container.main-content .no-padding {
  padding: 0;
}
.cadastrarAnuncio .container.main-content .no-padding.first-child {
  padding-right: 5px;
}
.cadastrarAnuncio .container.main-content .checkbox-group {
  margin-top: 7px;
}
.cadastrarAnuncio .container.main-content .checkbox-group .row {
  background-color: #fff;
}
.cadastrarAnuncio .container.main-content .checkbox-group .checkboxes {
  padding-left: 15px;
  padding-right: 15px;
}
.cadastrarAnuncio .container.main-content .checkbox-group span {
  font-size: 13px;
  color: #323237;
}
.cadastrarAnuncio .container.main-content .checkbox-group .checkbox label {
  padding-left: 0px;
}
.cadastrarAnuncio .container.main-content .checkbox-group .checkbox label input[type=checkbox] {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.cadastrarAnuncio .container.main-content .checkbox-group .checkbox label input[type=checkbox] + span {
  padding-left: 23px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.cadastrarAnuncio .container.main-content .checkbox-group .checkbox label input[type=checkbox]:checked + span {
  background-position: 0 -18px;
}
.cadastrarAnuncio .container.main-content .checkbox-group .checkbox label span {
  background-image: url(../../images/checkbox_red.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cadastrarAnuncio .container.main-content .toggle-group {
  margin-top: 7px;
}
.cadastrarAnuncio .container.main-content .toggle-group .label-default {
  background-color: transparent;
}
.cadastrarAnuncio .container.main-content .toggle-group .label-default span {
  margin-left: 10px;
}
.cadastrarAnuncio .container.main-content textarea.form-control {
  height: 100px;
  resize: none;
}
.cadastrarAnuncio .panel-group .panel-heading {
  background-color: #2b2b2f;
}
.cadastrarAnuncio .panel-group .panel-heading label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.cadastrarAnuncio .panel-group .panel.panel-default {
  border-color: #323237;
  margin-left: -5px;
  border-top: none;
}
.cadastrarAnuncio .panel-group .panel-title a {
  color: #fff;
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
  text-decoration: none;
}
.cadastrarAnuncio .panel-group .panel-title a.collapsed:before {
  content: "+";
  margin-right: 10px;
  font-size: 20px;
}
.cadastrarAnuncio .panel-group .panel-title a:not(.collapsed):before {
  content: "-";
  margin-right: 15px;
  font-size: 20px;
}
.cadastrarAnuncio .panel-group .panel-title a:not(.collapsed) {
  background-color: #d90101;
}
.cadastrarAnuncio .panel-group .panel + .panel {
  margin-top: 0px;
}
